/* Reset & Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url('../assets/images/poster_img.jpg') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.container {
  backdrop-filter: blur(8px);
  background-color: rgba(252, 249, 249, 0.652);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
}

/* Card Headings and Paragraph */
.card h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;  

}

.card .name {
  color: #000;
  font-weight: 400;
}

.card p {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; /* Space between "Nice to see you again!" and "Reset your password" */
}

.card h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #000;
  font-style:100px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

/* Label spacing */
label {
  font-size: 16px;
  color: #333;
  margin-bottom: 16px; /* Space between label and input field */
}

.input-group {
  position: relative;
  width: 500px;
  max-width: 100%;
}

/* Space between the two input groups */
.input-group + label {
  margin-top: 30px; /* Adds space between the first input group and the next label */
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgba(183, 181, 181, 0.8);
}

.toggle {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* Button */
button {
  margin-top: 40px; /* Separate the button from input fields */
  padding: 14px;
  background-color: #004080;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
  
}

button:hover {
  background-color: #002c5f;
}


